body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  font-family: Helvetica, sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}

th,
td {
  padding: 5px;
}

tbody {
  border-bottom: solid 1px #000000;
}
/* main main main main main main main main main main main main main main main main main  */
table {
  background-color: #ececec;
  padding: 10px;
  border-radius: 5px;
}
.mn {
  box-sizing: border-box;
  border-radius: 3px;
  border: thin rgb(97, 97, 97) solid;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar {
  background-color: rgb(126, 30, 170);
}




#article-one {
  width: 29%;
  height: auto;
  margin-right: 1%;
  float: left;
  /* background-color: #7c99ac; */
  margin-bottom: 10px;
}
#article-two {
  width: 40%;
  height: auto;
  margin-right: 1%;
  float: left;
  /* background-color: #617380; */
  margin-bottom: 10px;
}
#article-three {
  float: left;
  width: 29%;
  height: auto;
  float: left;
  /* background-color: #0a84d6; */
  margin-bottom: 10px;
}
/* main main main main main main main main main main main main main main main main main  */


/* logo logo logo logo logo logo logo logo logo logo logo logo logo logo logo logo  */
#logo {
  width: 55px;
  height: 55px;
  background: rgb(2,0,36);
  background: linear-gradient(63deg, rgba(2,0,36,1) 0%, rgba(10,10,119,1) 47%, rgba(0,212,255,1) 100%);
  align-self: center;
  justify-self: start;
  grid-row: 1/2;
  margin-left: 10px;
  border: 2px rgb(236, 203, 203) solid;
  padding: 2px;
  display: grid;
}
#logo h1 {
  font-size: 18px;
  align-self: center;
  justify-self: center;
}

#logo-write h1{
  font-size: 18px;
}
/* logo logo logo logo logo logo logo logo logo logo logo logo logo logo logo logo  */

/* Profile Profile  Profile   Profile   Profile   Profile   Profile   Profile */
#profile {
  width: 100%;
  height: 180px;
  background-size: cover;
  float: left;
}

/* star-profile  star-profile  star-profile */
#star-profile {
  width: 50px;
  height: 25px;
  border: solid 2px #f3fca3;
  margin-top: 110px;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
#golden-star {
  width: 50%;
  height: 100%;
  background-color: #c59d17;
  float: left;
  display: grid;
  color: white;
}
#golden-star p {
  margin: 0;
  align-self: center;
  justify-self: center;
}
#silver-star {
  width: 50%;
  height: 100%;
  background-color: rgb(218, 218, 218);
  float: left;
  display: grid;
}
#silver-star p {
  margin: 0;
  align-self: center;
  justify-self: center;
}
/* Profile Profile  Profile   Profile   Profile   Profile   Profile   Profile */

/* League Board  League Board  League Board  League Board  League Board  League Board */

#league-board {
  width: 100%;
  padding: 10px;
  height: auto;
  float: left;
}

.delete-btn-league-board {
  margin: 0;
  padding: 0;
  background-color: #d60a1b;
  color: white;
  width: 20px;
  height: 20px;
  display: grid;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}  
.delete-btn-league-board p{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
  justify-self: center;
  align-self: center;
}

.start-btn-league-board {
  background-color: #f7e2a0;
}

/* League Board  League Board  League Board  League Board  League Board  League Board */

/* Score Board   Score Board   Score Board   Score Board   Score Board   Score Board   Score Board */
#score-board {
  width: 100%;
  float: left;
  padding: 10px;
}

.delete-btn-score-board {
  margin: 0;
  padding: 0;
  background-color: #d60a1b;
  color: white;
  width: 20px;
  height: 20px;
  display: grid;
  border-radius: 5px;
  float: left;
}
.delete-btn-score-board p{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
  justify-self: center;
  align-self: center;
}

.score-board-info {
  float: left;
  margin-left: 10px;
}

.update-score-btn-score-board {
  margin: 0;
  padding: 0;
  background-color: #0cac21;
  color: white;
  width: 20px;
  height: 20px;
  display: grid;
  border-radius: 5px;
  float: right;
}

.update-btn-score-board {
  margin: 0;
  padding: 0;
  background-color: #3b29df;
  color: white;
  width: 20px;
  height: 20px;
  display: grid;
  border-radius: 5px;
  float: right;
}

.update-btn-score-board p{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
  justify-self: center;
  align-self: center;
}

.end-btn-score-board {
  border-radius: 5px;
  background-color: #c59d17;
  float: right;
  height: 20px;
}
.end-btn-score-board p{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
  justify-self: center;
  align-self: center;
}

.score-board-game {
  font-size: 12px;
  font-weight: bold;
}

.separator-score-board {
  clear: both;
  width: 100%;
  height: 5px;
  border-bottom: solid 1px #000000;
  margin-bottom: 10px; 
}

.score-board-teams {
  color: #557eca;
}

/* Score Board   Score Board   Score Board   Score Board   Score Board   Score Board   Score Board */

/* Friends  Friends  Friends  Friends  Friends  Friends  Friends  Friends  Friends */
#friends-place {
  width: 100%;
  float: left;
}


.friend-tile {
  width: 60px;
  height: 60px;
  background-color: rgb(47, 42, 49);
  margin: 10px;
  float: left;
  border: 2px rgb(126, 30, 170) solid;
  background-size: cover;
  display: grid;
}

.friends-star {
  width: 34px;
  height: 17px;
  justify-self: end;
  align-self: end;
  box-sizing: border-box;
  border-radius: 2px;
  border: thin #d8d8d8 solid;
  color: white;
  
}

.friends-star-silver  {
  display: grid;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #353535;
}
.friends-star-silver h3 {
  margin: 0;
  padding: 0;
  font-size: 8px;
  justify-self: center;
  align-self: center;
}

.friends-star-golden  {
  display: grid;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #e2c12f;
}
.friends-star-golden h3 {
  margin: 0;
  padding: 0;
  font-size: 8px;
  justify-self: center;
  align-self: center;
}

.friends-names {
  width: 17px;
  height: 17px;
  justify-self: end;
  align-self: start;
}

.friends-names h3{
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-shadow: #000000 0px 0px 3px;
}


/* Friends  Friends  Friends  Friends  Friends  Friends  Friends  Friends  Friends */

/* live-message  live-message  live-message  live-message  live-message  live-message  live-message */
#live-message {
  width: 100%;
  float: left;
  padding: 10px;
}
/* live-message  live-message  live-message  live-message  live-message  live-message  live-message */

/* game-records  game-records  game-records  game-records  game-records  game-records  game-records   */
#game-records {
  width: 100%;
  float: left;
  padding: 10px;
}

/* game-records  game-records  game-records  game-records  game-records  game-records  game-records   */ 


/* court-locations  court-locations  court-locations  court-locations  court-locations  court-locations   */
#court-locations {
  width: 100%;
  float: left;
  padding: 10px;
}

#court-locations ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#court-locations li{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
  font-weight: bolder;
}



/* court-locations  court-locations  court-locations  court-locations  court-locations  court-locations   */


/* buttons */
#update-score-submit-btn {
  margin-right: 10px;
}

.update-score-btn {
  background-color: #0a84d6;
  color: white;
  font-weight: bolder;
}
.delete-score-btn {
  background-color: #d60a1b;
  color: white;
  font-weight: bolder;
}









#friends-list-title {
  margin: 10px;
}
#see-all {
  clear: both;
  margin: 10px;
}

#sports-hut {
  width: 250px;
  height: auto;
  margin: 10px;
  float: left;
  padding: 10px;
}

#news-feed {
  margin: 10px;
  width: 350px;
  height: 400px;
  float: left;
}

/* profile profile profile profile profile profile */



#cleardiv {
  clear: both;
}

#sports-icon {
  color: white;
  width: 23px;
  height: 23px;
  background-size: auto 100%;
  background-position: center middle;
  background-repeat: no-repeat;
  float: right;
  margin-right: 6px;
  background-color: #00000042;
  border-radius: 3px;
}

#live-sign {
  font-size: 10px;
  opacity: 0.1;
  animation: livesign 1.5s ease-in-out infinite;
}

/* @-webkit-keyframes livesign {
  to {
    opacity: 1;
  }
} */

@keyframes livesign {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

/* profile-name profile-name profile-name profile-name profile-name */
#profile-name {
  /* margin: 0; */
  color: white;
  text-shadow: 0px 0px 3px #000000;
  /* font-size: 10px; */
  margin-right: 10px;
  margin-top: 3px;
  float: right;
  /* width: 75%; */
  height: auto;
  text-align: right;
}

#profile-name h1 {
  font-size: 18px;
}

#cv-athelte-link {
  width: 20px;
  margin-left: 0%;
  float: right;
  margin-top: 7px;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 3px #000000;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 2px;
}

#profile-settings-link {
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: 6px;
  float: right;
}

#sq-holder {
  width: 20px;
  height: 20px;
}


/* set profile set profile set profile set profile set profile set profile set profile  */

.input-set-profile {
  margin-bottom: 15px;
  width: 500px;
}

.radio-set-profile {
  margin: 15px;
}
/* set profile set profile set profile set profile set profile set profile set profile  */




footer {
  clear: both;
  height: 25px;
  width: 100%;
  background-color: rgb(126, 30, 170);
}
